*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box; }

.header {
  width: 100%;
  height: 45rem;
  background-image: url(../../img/hero-gif.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .header__menu {
    display: flex;
    justify-content: space-between;
    width: 88%;
    padding-top: 2.5rem; }
  .header__logo {
    width: 12rem; }
  .header__link--items:not(:last-child) > a {
    margin-right: 7rem; }
    @media only screen and (max-width: 900px) {
      .header__link--items:not(:last-child) > a {
        padding-right: 0rem; } }
  .header__link--items > a {
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    text-decoration: none;
    font-family: "Poppins", sans-serif; }
  .header__link--items > a:hover {
    text-decoration: none;
    color: #1B339F; }
  .header__icon-heart {
    fill: #1B339F;
    height: 3.3rem;
    width: 3.3rem; }
  .header__heading {
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem; }
    .header__heading-main > h1 {
      font-size: 5.2rem;
      font-weight: 700;
      color: #fff;
      font-family: "Montserrat", sans-serif; }
      .header__heading-main > h1 > span {
        color: #1B339F; }
    .header__heading-text {
      font-size: 1.8rem;
      color: white;
      font-weight: 400; }
    .header__heading-button {
      background-color: #1B339F;
      color: white;
      border-radius: 10rem;
      display: inline;
      padding: 1.8rem 3.2rem 1.6rem 3.2rem; }
      .header__heading-button > a {
        font-size: 2rem;
        font-weight: 600;
        color: white;
        text-decoration: none; }
      .header__heading-button > a:hover {
        text-decoration: none;
        color: #fff; }

.border-link {
  border: 1px solid #1B339F;
  padding: 0.8rem; }

.services {
  text-align: center;
  padding-top: 6rem; }
  .services__heading {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    padding-top: 1rem; }
  .services__text {
    color: #686868;
    font-size: 1.8rem; }
  .services__download {
    width: 80%;
    margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    justify-content: space-between; }
    .services__download-google > img {
      width: 18rem; }
    .services__download-store > img {
      width: 18rem; }

.services__availability {
  padding-top: 3rem;
  width: 88%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto); }
  .services__availability-container {
    display: flex;
    padding-top: 2rem; }
  .services__availability-img {
    height: 3rem;
    width: 5rem; }
  .services__availability-text {
    padding-left: 1.5rem;
    font-family: "Poppins", sans-serif;
    color: #101010; }
    .services__availability-text > h2 {
      font-weight: 600;
      font-size: 1.7rem; }
    .services__availability-text > p {
      font-size: 1.6rem; }
  .services__availability-figure > img {
    width: 30rem; }

.choice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding-top: 3rem;
  width: 88%;
  margin: 0 auto; }
  .choice__icon-heart {
    fill: #1B339F;
    height: 3rem;
    width: 3rem; }
  .choice__card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 6px;
    padding-bottom: 2rem;
    border-radius: 0.5rem; }
    .choice__card-points {
      display: grid;
      grid-template-columns: 10% 90%; }
    .choice__card-text > p {
      font-size: 1.6rem;
      color: #101010;
      font-family: "Poppins", sans-serif;
      padding-top: 0.5rem; }
  .choice__card-heading {
    text-align: center; }
    .choice__card-heading > img {
      width: 5.5rem;
      box-shadow: rgba(16, 16, 16, 0.16) 0px 0px 6px;
      border-radius: 50%;
      padding: 6px; }

.working__number {
  width: 66%;
  padding-top: 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% 20% 40%; }
  .working__number-one, .working__number-two, .working__number-three {
    height: 4.5rem;
    width: 4.5rem;
    border: 1px solid #1B339F;
    border-radius: 50%;
    font-size: 2rem;
    padding: 0.5rem 1.6rem;
    font-weight: 600;
    color: #1B339F;
    position: relative; }
  .working__number-one::after {
    content: "";
    position: absolute;
    width: 30rem;
    height: 0.2rem;
    bottom: 2rem;
    left: 4.4rem;
    background-color: #1B339F; }
  .working__number-two {
    margin: 0 auto; }
  .working__number-three {
    float: right;
    margin-left: auto; }
  .working__number-three::after {
    content: "";
    position: absolute;
    width: 30rem;
    height: 0.2rem;
    bottom: 2rem;
    right: 4.4rem;
    background-color: #1B339F; }

.working__card {
  width: 94%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5rem;
  font-family: "Poppins", sans-serif;
  color: #101010;
  font-weight: 600; }
  .working__card-one > img, .working__card-two > img, .working__card-three > img {
    height: 8rem;
    width: 8rem; }
  .working__card-one > h2, .working__card-two > h2, .working__card-three > h2 {
    font-weight: 600;
    font-size: 1.7rem; }
  .working__card-one > p, .working__card-two > p, .working__card-three > p {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 5rem; }

.download {
  height: 40.8rem;
  margin-top: 8rem;
  background-image: linear-gradient(#1010107c, #1010107c), url(../../img/download-screen.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .download__section {
    width: 88%;
    margin: 0 auto;
    padding-top: 4rem; }
    .download__section-logo {
      height: 7rem;
      width: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 0.6rem; }
      .download__section-logo > img {
        height: 6rem; }
    .download__section-text > h2 {
      margin-top: 40px;
      font-family: "Montserrat", sans-serif;
      font-size: 2.4rem;
      line-height: 3.2rem;
      font-weight: bold;
      color: #fff; }
    .download__section-text > p {
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      line-height: 2.2rem;
      font-weight: normal;
      color: #fff; }
    .download__section-img {
      width: 35%;
      padding-top: 4rem;
      display: flex;
      justify-content: space-between; }
      .download__section-img-1 {
        height: 4.3rem; }
      .download__section-img-2 {
        height: 4.3rem; }

.footer {
  padding-top: 6rem;
  width: 88%;
  margin: 0 auto; }
  .footer .footer__section {
    border-bottom: 1px solid #1B339F;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 36% 17% 17% 30%; }
    .footer .footer__section-1 > h5, .footer .footer__section-2 > h5, .footer .footer__section-3 > h5, .footer .footer__section-4 > h5 {
      font-family: "Montserrat", sans-serif;
      font-size: 1.8rem;
      line-height: 2.6rem;
      font-weight: 500;
      color: #1B339F;
      margin-bottom: 2rem; }
    .footer .footer__section ul li {
      margin-bottom: 1rem; }
    .footer .footer__section-link {
      text-decoration: none;
      color: #1B339F;
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      line-height: 2.2rem;
      font-weight: normal; }
    .footer .footer__section-email {
      height: 4.8rem;
      border: 0.1rem solid #1B339F;
      border-radius: 3.9rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 7px; }
      .footer .footer__section-email > input {
        border: none;
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: normal;
        width: 65%;
        padding-left: 1.5rem; }
        .footer .footer__section-email > input:focus {
          outline: none; }
      .footer .footer__section-email > button {
        height: 100%;
        width: 35%;
        border-radius: 3.9rem;
        -webkit-border-radius: 3.9rem;
        -moz-border-radius: 3.9rem;
        -ms-border-radius: 3.9rem;
        -o-border-radius: 3.9rem;
        background-color: #1B339F;
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 300;
        color: #fff;
        border: none; }
    .footer .footer__section-img {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      padding-left: 3rem; }
      .footer .footer__section-img-1 {
        height: 3.9rem;
        width: 13.5rem; }
      .footer .footer__section-img-2 {
        height: 3.9rem;
        width: 13.5rem; }
    .footer .footer__section-portion {
      display: flex;
      justify-content: space-between; }
    .footer .footer__section-icon {
      padding: 2rem 0; }
      .footer .footer__section-icon > img {
        height: 4.5rem; }
    .footer .footer__section-text {
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 300;
      color: #1B339F;
      padding-top: 3rem; }
    .footer .footer__section-social {
      padding-top: 3rem; }
      .footer .footer__section-social > a {
        text-decoration: none; }
      .footer .footer__section-social > a:last-child {
        margin-right: 3rem; }
      .footer .footer__section-social > a:first-child {
        margin-right: 2.5rem; }
      .footer .footer__section-social-1 {
        height: 2.3rem; }
      .footer .footer__section-social-2 {
        height: 2.3rem; }
