.working__number {
    width: 66%;
    padding-top: 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 20% 40%;

    @include respond (phone) {
        display: none;
    }


    &-one, &-two, &-three {
        height: 4.5rem;
        width: 4.5rem;
        border: 1px solid $color-primary;
        border-radius: 50%;
        font-size: 2rem;
        padding: 0.5rem 1.6rem;
        font-weight: 600;
        color: $color-primary;
        position: relative;
    }

    &-one::after {
        content: "";
        position: absolute;
        width: 30rem;
        height: 0.2rem;
        bottom: 2rem;
        left: 4.4rem;
        background-color: #1B339F;

        @include respond (tab-land) {
            width: 24rem;
        }

        @include respond (tab-port) {
            width: 18rem;
        }
    }

    &-two {
        margin: 0 auto;
    }

    &-three {
        float: right;
        margin-left: auto;
    }

    &-three::after {
        content: "";
        position: absolute;
        width: 30rem;
        height: 0.2rem;
        bottom: 2rem;
        right: 4.4rem;
        background-color: #1B339F;

        @include respond (tab-land) {
            width: 24rem;
        }

        @include respond (tab-port) {
            width: 18rem;
        }

    }
}

.working__card {
    width: 94%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 5rem;
    font-family: "Poppins", sans-serif;
    color: #101010;
    font-weight: 600;

    @include respond (phone) {
        grid-template-columns: repeat(1, 1fr);
    }


    &-one, &-two, &-three {


        @include respond (phone) {
            padding-top: 4rem;
        }


        & > img {
            height: 8rem;
            width: 8rem;

            @include respond (tab-port) {
                height: 7rem;
                width: 7rem;
            }
        }

        & > h2 {
            font-weight: 600;
            font-size: 1.7rem;
        }

        & > p {
            font-size: 1.6rem;
            font-weight: 400;
            padding: 0 5rem;

            @include respond (tab-land) {
                padding: 0 2rem;
            }
        }
    }

}